.login{
    background-color: #9FC856;
    width: 350px;
    border-color: #9FC856;
    font-weight: 600;
}

.login:hover{
    background-color: #fff;
    color: #9FC856;
    border-color:#9FC856;
}

.login:focus{
    background-color: #9FC856 !important;
    border-color:#9FC856 !important;
}

.form-control:focus{
    box-shadow: none;
    border-color: #9FC856;
}

.form-control{
    width: 350px;
}

.forgot-password{
    font-size: 14px;
    color: #9FC856;
}



